body {
    background: #404040;
    color: #D7D0C7;
}
a {
    color: #E1AA5D;
}
a:hover {
    color: #F39D21;
    text-decoration: none;
}
.page-header {
    font-size: 24px;
}
.container {
    max-width: 800px;
    font-family: 'Karla', sans-serif;
}
