/* Fonts */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/inter-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(/fonts/rubik-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Elements */

body {
  margin: 0;
  background-color: #f5f5f5;
}

section {
  display: block;
  position: relative;
  max-width: 800px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

a {
  color: #247BA0;
  text-decoration: none;
}

a:hover {
  color: #70C1B3;
  text-decoration: none;
}

footer {
  text-align: center;
}

/* Header related */

#header {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  background-color: #247BA0;
  padding: 30px 130px;
  transition: .3s ease;
}

.nav-link {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

#header.fixed-top {
  padding: 5px 100px;
  transition: .3s ease;
}

#nav-toggle, #nav-toggle-label {
  display: none;
}

@media screen and (max-width: 768px){
  #header {
    padding: 0px;
  }

  #header.fixed-top {
    padding: 0px;
  }

  #navigation {
    text-align: right;
  }

  #nav-toggle-label {
    display: inline-block;
    color: #f2f2f2;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  .nav-link {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #333;
  }

  #navigation-items {
    display: none;
  }
  #nav-toggle:checked + #navigation-items {
    display: block;
  }
}

/* Main section */

.section-header {
  font-size: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
}

.center-standout {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.text-center {
  text-align: center;
}

.call-to-action {
  display: inline-block;
  margin: 20px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  padding: 7px 17px;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #247BA0;
}

a.call-to-action:hover  {
  color: #FFFFFF;
}
