{{ define "main" }}
<section>
  <h1 class="section-header">Welcome</h1>
  <div class="text-center">
    <p class="center-standout">
      My name is Sascha, I've been helping companies to get their ideas to production since 2013. If you are interested in my skills and experience, please take a look at my <a href="/files/resume.pdf">resume</a>. This website contains some of my technical writing and book reviews. I provide software engineering services through my company, Conifer Software.
    </p>
    <a class="call-to-action" href="mailto:se@saschaeglau.com">Say Hello</a>
  </div>
  <h1 class="section-header">Most Popular</h1>
</section>
{{ end }}
